@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar { 
    display: none; 
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.add-btn:active { 
  transform: scale(0.9); 
}

[dir="ltr"] .border-r-4 { 
  border-right-width: 0; 
  border-left-width: 4px; 
  text-align: left; 
}

body {
  @apply bg-gray-50 pb-32;
}